
<style>

  section {
    padding: 0 0 1rem 0; /* only padding on the bottom */
  }

  section p {
    margin: 2rem 0 2rem 0;
  }

  section h1 {
    height: 40vh;
    display: flex;
    align-items: center;
  }

  section * {
    /*margin: 0 1rem;*/ transform: translateY(20px);
    opacity: 0;
    transition: 1s ease;
  }

  .scroll-visible {
    transform: translateY(0);
    opacity: 1;
  }

</style>

<script>

  const eles_in_section = document.querySelectorAll("section *")

  document.addEventListener("scroll", function() {
    eles_in_section.forEach((e) => {
      if (isInView(e)) {
        e.classList.add("scroll-visible");
      } else {
        e.classList.remove("scroll-visible");
      }
    });
  });

  function isInView(element) {
    const box = element.getBoundingClientRect();
    return (
      box.bottom > 0 && 
      box.top < 
        (1 - 1/4) * (window.innerHeight|| document.documentElement.clientHeight)
    );
  }


</script>
