
{{ $lines := .lines | default (slice) }}
{{ $src := .src }}

{{ if eq .live_mode "scroll" }}

    <div class="live-photo">
      <div class="live-photo-container">
          {{ partial "video" (dict
            "src" ( $src )
            "controls" "false"
            "autoplay" "false"
            "loop" "false"
            "muted" "true"
          ) }}
      </div>

      <div class="story">
          {{ range $lines }}
            <div>
                <h3> {{ . | markdownify }} </h3>
            </div>
          {{ end }}
      </div>
    </div>
{{ end }} 
