{{- $featured_video := partial "func/GetFeaturedVideo.html" . -}}
{{- $featured_video_x := .Page.Params.featured_video_x | default 50 -}}
{{- $featured_video_y := .Page.Params.featured_video_y | default 50 -}}

{{- $featured_image := partial "func/GetFeaturedImage.html" . -}}
{{- $featured_image_class := .Page.Params.featured_image_class | default site.Params.featured_image_class -}}

{{- $title := .Title | default .Site.Title -}}
{{- $description := .Params.description -}}

{{- $cover_dimming_class := site.Params.cover_dimming_class | default "bg-black-60" -}}
{{- $background_color_class := site.Params.background_color_class | default "bg-black" -}}
{{- $title_class := .Params.custom_class.title_class | default "light-silver" -}}

<header class="
  {{ if $featured_video }}relative overflow-hidden inner-video-click-play
  {{ else if $featured_image }}
    {{ $featured_image_class | default "bg-top" }} cover
  {{ else }}pb3-m pb6-l{{ end }}
  {{ .Site.Params.primary_font }}"

  {{- if $featured_image -}}
    style="background-image: url('{{ $featured_image }}');"
  {{- end -}}
>
  
  {{- if $featured_video -}}
    {{ partial "video" (dict 
      "page"         .Page
      "src"          $featured_video
      "controls"     "false"
      "autoplay"     "false"
      "loop"         "false"
      "muted"        "true"
      "custom_class" (printf "absolute h-100 object-fit-cover z--1 object-position-%d-%d"
        $featured_video_y $featured_video_x)
      "skip_file_exist_check" "true"
    ) }}

  {{- end -}}

  <div class="{{ $cover_dimming_class }} relative z-1 w-100 h-100 overflow-hidden">
    {{ partial "site-navigation.html" . }}
    <div class="tc-l
      pt2 pb1
      pt4-m
      pt6-l pb3-l
      ph3 ph4-ns 
      {{ .Site.Params.title_font }}"
    >
      <h1 class="f2 f-subheadline-l fw2 white-90 mb0 lh-title">{{ $title }}</h1>
      {{- with $description -}}
        <h2
          class="fw1 f5 f3-l white-80 measure-wide-l center mt3"
        >
          {{ replace . "\n" "</br>" | safeHTML }}
        </h2>
      {{- end -}}
    </div>
  </div>
</header>
