@font-face {
  font-family: ChangliSoneKeBen;
  src: url('/font/HYChangLiSongKeBen(Original)W.ttf');
}

.my-content-font {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue,
    helvetica, ubuntu, roboto, noto, segoe ui, arial,
    "Noto Sans SC", -apple-system, blinkmacsystemfont, "Segoe UI", roboto,
    "Helvetica Neue", arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.my-shufa-title-font {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial,
    ChangliSoneKeBen, "华文细黑", Heiti, "黑体", "Microsoft YaHei", "微软雅黑", SimSun, "宋体",
    sans-serif;
}

.my-title-font {
  font-family: "Noto Sans SC", -apple-system, blinkmacsystemfont, "Segoe UI", roboto,
    "Helvetica Neue", arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
}

.josefin-sans .font-align {
  padding-top: 0.3rem;
}
