:root {
  --highlight-color: #8cc63e;
  --primary-color: #404040;
  --secondary-color: #f1f1f1;
}

div.live-photo {
  height: 600vh;
  position: relative;
}

div.live-photo div.live-photo-container {
  position: sticky;
  top: 0;
}

div.live-photo video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

div.live-photo div.story {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: var(--secondary-color);
}

div.live-photo div.story div {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

div.live-photo div.story h1,h2,h3 {
  font-size: 5.5rem;
  font-weight: 600;
  line-height: 1.25;
}
