{{/* layouts/shortcodes/live-photo.html */}}

{{- with .Inner -}}
    {{/* trim input */}}
    {{/* $inner := replaceRE "^\\s+|\\s+$" "" . */}}
    {{/* trim trailing input */}}
    {{ $inner := replaceRE "^|\\s+$" "" . }}

    {{ partial "live-photo.html" (dict 
        "page"         ( $.Page ) 
        "src"          ( $.Get "src" )  
        "mode"    ( $.Get "mode" ) 
        "custom_class" ( $.Get "custom_class" )
        "lines"        ( split $inner "\n" )
    ) }}
{{- else -}}
    {{ partial "live-photo.html" (dict 
        "page"         ( $.Page ) 
        "src"          ( $.Get "src" )  
        "mode"    ( $.Get "mode" ) 
        "custom_class" ( $.Get "custom_class" )
    ) }}
{{- end -}}
