{{/*
{{- -}}
*/}}

{{- $src := .Get "src" -}}
{{- $md := .Get "md" -}}
{{- $custom_class := .Get "class" -}}
{{- with .Page.Resources.Get $src -}}

  <div class="overflow-hidden h-50vh relative {{ $custom_class }}">
    <div class="parallax-background absolute left-0 w-100 h-100 cover bg-center z-1"
      style="background-image: url( {{ . }} )"
    ></div>
    <div>

      <div class="z-2 relative">
        <!-- Only the text or specific elements allow background to show through -->
        <p>test</p>
      </div>
    </div>
  </div>

{{- end -}}
