{{- $src := .Get "src" -}}
{{- $custom_class := .Get "class" | default "" -}}

{{- $is_grayout := .Get "grayout" | default "false" | eq "true" -}}
{{- $initial_gray := .Get "initial_gray" | default 100 -}}
{{- $grayout_speed := .Get "grayout_speed" | default 2.0 -}}

{{- $is_parallax := .Get "parallax" | default "false" | eq "true" -}}
{{/* parallax speed: 100 means static img, 0 means normal img */}}
{{- $parallax_speed := .Get "parallax_speed" | default 0.4 -}}
{{/* parallax window height: 100 means full screen */}}
{{- $parallax_window_height := .Get "parallax_window_height" | default 50 -}}
{{/* parallax position y: 100 means bg-bottom, 0 means bg-top */}}
{{- $parallax_position_y := .Get "parallax_position_y" | default 50 -}}

{{- $lines := split (.Inner | chomp) "\n" -}}

{{- with .Page.Resources.GetMatch $src -}}
  <div class="overflow-hidden relative
  {{ if $is_parallax }} h-{{ $parallax_window_height }}vh {{ else }} h-100vh {{ end }}
  {{ $custom_class }}"
  >
    <div class="
      {{ if $is_parallax }} parallax-background {{ end }}
      {{ if $is_grayout }} scroll-grayout {{ end }}
      absolute left-0 w-100 h-100 cover bg-bottom z-1"
      style="background-image: url({{ .RelPermalink }})">
    </div>
    <div class="h-100">
      <div class="z-2 relative flex-l center mw8 h-100">
        <!-- Content goes here -->
      {{- with $lines -}}
        <section class="nested-copy-line-height lh-copy f4 nested-links
          center ph3 ph4-ns w-60-l w-80 h-100
          flex flex-column justify-around
          white-90"
        >
          {{- range . -}}
            <h2> {{ . | markdownify }} </h2>
          {{- end -}}
        </section>
      {{- end -}}
      </div>
    </div>
  </div>

  <script>
    // Utility function to apply effects
    function applyEffectToElements(selector, callback) {
      const elements = document.querySelectorAll(selector);

      elements.forEach((element) => {
        const box = element.getBoundingClientRect();
        const t = box.top;
        const b = box.bottom;

        if (t < window.innerHeight && b > 0) {
          callback(element, t, b, false); // box fully or partially in view
        } else {
          callback(element, t, b, true); // box out of view
        }
      });
    }

    // Scroll Image Effect Module
    function scrollGrayoutEffect() {
      applyEffectToElements(".scroll-grayout", (element, t, b, outOfView) => {
        const initialGray = {{ $initial_gray }};
        const grayoutSpeed = {{ $grayout_speed }};

        if (outOfView) {
          element.style.filter = `grayscale(${initialGray}%)`;
        } else {
          // touching bottom = 0, touching top = 1
          const scrollPercentage = (window.innerHeight - b) / (window.innerHeight - b + t);
          const grayscalePercentage = Math.max( 0, Math.min(1,
            // y = -ax + b
            // 0.5 = -a0.5 + b
            // a = grayoutSpeed
            // b = 0.5 + 0.5a = (1 + a) / 2
            // y = -ax + b = -ax + a/2 + 1/2 = grayoutSpeed * (1/2 - scrollPercentage) + 1/2
            grayoutSpeed * (1/2 - scrollPercentage) + 1/2
          )) * initialGray;
          element.style.filter = `grayscale(${grayscalePercentage}%)`;
        }
      });
    }

    // Parallax Background Effect Module
    function parallaxBackgroundEffect() {
      applyEffectToElements(".parallax-background", (element, t, b) => {
        const speedFactor = {{ $parallax_speed }};
        const defaultOffset = {{ $parallax_position_y }};
        //const scrollPercentage = (window.innerHeight - b) / (window.innerHeight - b + t);
        const scrollPercentage = (window.innerHeight - t) / window.innerHeight;
        const offset = defaultOffset - scrollPercentage * speedFactor * 100;
        element.style.backgroundPositionY = `${offset}%`;
      });
    }

    // Main scroll event handler
    function handleScroll() {
      scrollGrayoutEffect();
      parallaxBackgroundEffect();
    }

    // Attach scroll event
    window.addEventListener("scroll", handleScroll);
  </script>
{{- end -}}
